@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@300;400;500;600;700&family=Jura:wght@300;400;500;600;700&display=swap');


:root {
  --blue: #0000FF;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e00202;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --green-dark: #0f6865;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #616364;
  --gray-light: #bbbbc4;
  --gray-dark: #292d30;
  --primary: #8B0000;
  --secondary: #800000;
  --success: #f1f2f2;
  --info: #00ccff;
  --warning: #ffc107;
  --danger: #ff6d7b;
  --light: #f8f9fa;
  --dark: #161718;
  --font-family-sans-serif: 'Jura', sans-serif;
  --font-family-serif: 'Bitter', serif;
  --font-family-monospace: 'Fira Code', monospace;
}


*,  *::before,  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    background-color: var(--light);
    font-size: calc(0.8rem + 1vw);
  }

  #headerbvbnav {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
  }

#row {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: var(--gray-light);
    border: none;
    border-radius: 2rem 2rem 0 0;
  }


#aimgbvb {

}
  
#menubvb {
  min-height: 0.25rem;
}
  
#imgbvb {
    max-height: 3rem;
}
  

  /*menu*/
  #menuToggle
{
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: var(--gray-dark);
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  padding-bottom: 3px;
  border-bottom: 3px solid var(--green-dark);
  color: var(--gray-dark);
  font-family: var(--font-family-monospace);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--secondary);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--gray-dark);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -55px 0 0 -187px;
  padding: 50px;
  padding-top: 125px;
  visibility: hidden;
  background: var(--gray-light);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  border: 0.2rem solid var(--gray);
  border-radius: 2rem;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  visibility: visible;
  transform: none;
}


/* hero text  frist section */
.hero {
  width: 60%;
  margin: auto;
  min-height: 92vh;
  background-image: url(/img/laptop.jpg);
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 0 0 2rem 2rem;
  font-family: var(--font-family-serif);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#h1bvbhero {
  color: var(--primary);
  text-align: center;
  font-size: calc(3.6rem + 1vw);
}

#h2bvbhero {
  color: var(--gray-dark);
  margin-top: 2rem;
  text-align: center;
  font-size: calc(1.3rem + 1vw);
}


#bvbmr {
  margin-bottom: 30rem;
  margin-right: 12rem;
}

#buttonbvb {
  text-decoration: none;
  margin-top: 4rem;
  padding: 2rem 4rem;
  color: var(--gray-dark);
  background: var(--light);
  border: 1px solid var(--primary);
  border-radius: 2rem;
  font-size: calc(1.3rem + 0.5vw);
  float: right;
}

#buttonbvb:hover {
  text-decoration: none;
  margin-top: 4rem;
  padding: 2rem 4rem;
  color: var(--green-dark);
  background: var(--light);
  border: 2px solid var(--primary);
  font-family: var(--font-family-monospace);
  border-radius: 2rem;
  font-size: calc(1.3rem + 0.5vw);
  float: right;
}

/* offset div menu */
.mrbvb {
  padding-top: calc(10rem + 1vw);
}



/* section intro */
.intro-h-text {
  width: 60%;
  margin: auto;
  min-height: 10vh;
  background: var(--light);
  border: none;
  border-radius: 2rem 2rem 2rem 2rem;
  padding-top: calc(1rem + 1vw);
  padding-bottom: calc(1rem + 1vw);
}

.intro-h-text h2 {
  color: var(--primary);
  text-align: center;
}

.intro-h-text h3 {
  color: var(--gray-dark);
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1rem 2rem var(--gray-dark);
}

#intro1 {
  width: 60%;
  margin: auto;
  min-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  background: var(--light);
  border: none;
  border-radius: 2rem 2rem 2rem 2rem;
}

#imgintrobvb1 {
  width: 100%;
  padding-top: calc(-10rem + 1.5vw);
  border: 0.15rem solid var(--primary);
  border-radius: 2rem 2rem 2rem 2rem;
}

#intro-img1 {
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: calc(1rem + 0.5vw);
}

#intro-text1 {
  padding-top: calc(-10rem + 1.5vw);
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: calc(1rem + 0.5vw);
}

#intro-text1 a {
  text-decoration: none;
  color: var(--gray-dark);
  text-align: left;
  font-size: calc(1rem + 0.4vw);
  line-height: calc(1.2rem + 1vw);
}

#intro-text1 p {
  text-align: left;
}

/* horizontal line */

#hrbvbintro {
  border: 1px solid var(--primary);
  width: 60%;
  margin: 4rem auto 4rem auto;
}

#intro2 {
  width: 60%;
  margin: auto;
  min-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  background: var(--light);
  border: none;
  border-radius: 2rem 2rem 2rem 2rem;
}

#imgintrobvb2 {
  width: 100%;
  padding-top: calc(-10rem + 1.5vw);
  border: 0.15rem solid var(--primary);
  border-radius: 2rem 2rem 2rem 2rem;
}

#intro-img2 {
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: calc(1rem + 0.5vw);
}

#intro-text2 {
  padding-top: calc(-10rem + 1.5vw);
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-right: calc(1rem + 0.5vw);
}

#intro-text2 a {
  text-decoration: none;
  color: var(--gray-dark);
  text-align: left;
  font-size: calc(1rem + 0.4vw);
  line-height: calc(1.3rem + 1vw);
}

#intro-text2 p {
  text-align: left;
}

#intro3 {
  width: 60%;
  margin: auto;
  min-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  background: var(--light);
  border: none;
  border-radius: 2rem 2rem 2rem 2rem;
}

#imgintrobvb3 {
  width: 100%;
  padding-top: calc(-10rem + 1.5vw);
  border: 0.15rem solid var(--primary);
  border-radius: 2rem 2rem 2rem 2rem;
}

#intro-img3 {
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: calc(1rem + 0.5vw);
}

#intro-text3 {
  padding-top: calc(-10rem + 1.5vw);
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-left: calc(1rem + 0.5vw);
}

#intro-text3 a {
  text-decoration: none;
  color: var(--gray-dark);
  text-align: left;
  font-size: calc(1rem + 0.4vw);
  line-height: calc(1.2rem + 1vw);
}

#intro-text3 p {
  text-align: left;
}

/* input form */

#bgbvb {
  width: 60%;
  margin: auto;
  min-height: 40vh;
}

#formbvblogin {
  color: var(--primary);
  font-size: 200%;
  text-align: center;
  }

button, input, select, textarea {
  font-family: var(--font-family-sans-serif);
  font-size: calc(1rem + 1vw);
}

input, select, textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"], input[type="password"], input[type="email"] {
  border: 2px solid var(--primary);
  border-radius: 8px;
  /* padding: 8px;
  margin: 10px; */
}

input[type="checkbox"] {
  /* padding: 10px 10px 10px 0;
  margin: 20px; */
}

input[type="submit"] {
  color: var(--gray-dark);
  /* padding: 10px; */
  border: 2px solid var(--primary);
  border-radius: 8px;
  box-shadow: 3px 6px var(--dark);
  /* margin: 20px 180px 10px 10px; */
  float: right;
}

input[type="submit"]:hover {
  font-family: var(--font-family-monospace);
  background-color: var(--light);
  color: var(--green-dark);
  /* padding: 10px; */
  border-radius: 8px;
  /* margin: 20px 180px 10px 10px; */
  float: right;
  transition: 0.5s;
}

form i {
  position: absolute;
  font-size: 25px;
  color: var(--secondary);
  margin: 20px 0 0 -60px;
}

label {
  color: var(--gray-dark);
  font-size: 1.3em;
}

form a {
  text-decoration: none;
  color: var(--gray-dark);
  font-size: 1.3em;
  /* padding: 10px;
  margin: 22px 12px 10px 10px; */
  /* float: right; */
}

#zapomni {
  margin-top: calc(-1.3rem + 1vw);
  /* float: right; */
}

.zapomni {
  padding-bottom: calc(1rem + 1vw);
}